$column-padding: 1rem;
$margin-bottom: 1rem;

@mixin column-padding () {
  padding-left: $column-padding;
  padding-right: $column-padding;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  border: 2px dashed red;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 2px dotted white;
}

.flex-sm,
.flex-lg {
  flex-basis: 100%;
  margin-bottom: $margin-bottom;
  border: 2px double lightblue;
  height: auto;
}

@include small-breakpoint {
  .flex-sm{
    flex: 1;
  }
}

@include large-breakpoint {
  .flex-lg{
    flex: 1;
  }
}

@include large-breakpoint {
  ._10{
    flex: 0.1;
  }
  ._25 {
    flex: 2.5;
  }
  ._50 {
    flex: 5;
  }
  ._75 {
    flex: 7.5;
  }
}