$column-padding: 1rem;
$margin-bottom: 1rem;

@mixin column-padding () {
  padding-left: $column-padding;
  padding-right: $column-padding;
}


.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
  


.flex-sm,
.flex-lg {
  flex-basis: 100%;
  margin-bottom: $margin-bottom;
  height:30px;
}

@include small-breakpoint {
  .flex-sm{
    flex: 1;
  }
}

@include large-breakpoint {
  .flex-lg{
    flex: 1;
  }
}