.center{
    display: flex;
    justify-content: center;
}

.v-center{
    display: flex;
    align-items: center;
}

.right{
    display: flex;
    justify-content: right;
}

.left{
    display: flex;
    justify-content: left;
}