
/**
 * Variables
 */

//----------------------------------------------------
// Containers
//----------------------------------------------------
$x-small: 600px !default;
$small: 800px !default;
$medium: 1000px !default;
$large: 1200px !default;

//----------------------------------------------------
// Break Points
//----------------------------------------------------
$mobile: $x-small !default;
$tablet: $small !default;
$desktop: $medium !default;

//----------------------------------------------------
// Typography
//----------------------------------------------------

$body-font-size : 1.6rem !default;