/**
 * Variables
 */
//----------------------------------------------------
// Containers
//----------------------------------------------------
$x-small: 600px !default;
$small: 800px !default;
$medium: 1000px !default;
$large: 1200px !default;

//----------------------------------------------------
// Break Points
//----------------------------------------------------
$mobile: $x-small !default;
$tablet: $small !default;
$desktop: $medium !default;

//----------------------------------------------------
// Colo(u)rs
//----------------------------------------------------
$primary-color: #e22866;
$secondary-color: #28b9e2;

//----------------------------------------------------
// Typography
//----------------------------------------------------

$body-font-size : 1.6rem !default;
$body-font-family: 'Roboto Condensed', sans-serif;

//----------------------------------------------------
// Buttons
//----------------------------------------------------
$button-types : ('.button, a.button, button, [type=submit], [type=reset], [type=button]');
$btn-color: $primary-color;
$accent-btn-color: $secondary-color;

$btn-border-width: 0.2rem;
$btn-radius: 0.3rem;
$btn-padding: 0 4.5rem;
$btn-height: 4.1rem;
$btn-background: transparent;
$btn-border-style: solid;                                   
$btn-border-color: $btn-color;  
$btn-border: $btn-border-width $btn-border-style  $btn-border-color;

$btn-font-family: 'Roboto Condensed', sans-serif;
$btn-font-size: 2rem;
$btn-line-height: 3.7rem;
$btn-font-weight:300;
$btn-letter-spacing: 2px;
$btn-text-color: #ffffff;
$btn-text-color-hover: #ffffff;
$btn-text-decoration: none;

$accent-btn-background: transparent;
$accent-btn-text-color-hover: #ffffff;
$accent-btn-text-color: #ffffff;

$btn-transition: all 0.3s;










                               
                  
